* {
    box-sizing: border-box;
}

body {
    display: grid;
    overflow: hidden;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    grid-template-columns: auto;
    grid-template-rows: 150px 50px auto;
    grid-template-areas:  
    "title"
    "navigation"
    "about";
}

header {
    grid-area: title;
    color:#020202;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 100px;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 45px;
    margin: 20px;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#020202;
}

main {
    grid-area: about;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "email"
    "linkedin"
    "instagram";
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
}

#email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 20px;
    margin-bottom: 0px;
}

#linkedin {
    grid-area: linkedin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 20px;
    margin-top: 0px;
    margin bottom: 0px;
}

#instagram {
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 20px;
    margin-top: 0px;
    margin bottom: 0px;
}

img {
    width: 200px;
    margin: 20px;
}

#email img {
    margin-left: -20px;
}

nav > a {
    margin-right: 25px;
    color: #F08CAE;
}

#email p {
    margin-left: 170px;
}

.navbar {
    grid-area: navigation;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #020202;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#email a {
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large
}

#linkedin a {
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large
}

#linkedin img {
    margin-left: 30px;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#linkedin p {
    margin-left: 80px;
}

#instagram a {
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large
}

#instagram img {
    margin-left: 195px;
    width: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#instagram p {
    margin: 40px;
    margin-right: 80px;
    margin-left: 80px; 
}

@media (max-width: 1050px) {
    h1 {
       font-size: 60px;
    }

    header {
        padding: 10px;
        margin-top: 30px;
        height: 80px;
    }

    .navbar {
        padding: 0px;
        margin-top: 0px;
        height: 20px;
    }
