* {
    box-sizing: border-box;
}

body {
    display: grid;
    overflow: hidden;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    grid-template-columns: auto;
    grid-template-rows: 150px 50px auto;
    grid-template-areas:  
    "title"
    "navigation"
    "about";
}

header {
    grid-area: title;
    color:#020202;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 100px;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 45px;
    margin: 20px;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 25px;*/
}

main {
    grid-area: about;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "doginsta"
    "etsy"
    "ttt";
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
}

#doginsta {
    grid-area: doginsta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:#020202;
    border-style: dotted;
    font-size: large;
}

#etsy {
    grid-area: etsy;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:#020202;
    border-style: dotted;
    margin-top: 20px;
    font-size: large;
}

#ttt {
    grid-area: ttt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:#020202;
    border-style: dotted;
    margin-top: 20px;
    font-size: large;
}

.navbar {
    grid-area: navigation;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #020202;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 200px;
    margin: 30px;
}

nav > a {
    margin-right: 25px;
    color: #F08CAE;
}

#doginsta > a {
    color: #020202;
    text-decoration: none;
    font-weight: bold;
}

#etsy > a {
    color: #020202;
    text-decoration: none;
    font-weight: bold;
}

#ttt > a {
    color: #020202;
    text-decoration: none;
    font-weight: bold;
}